__pycache__/
*.py[cod]
.pytest_cache/
.venv/
build/
dist/
*.egg-info/
*.pkg.tar.*
packaging/src/
packaging/pkg/

.ruff_cache/
packaging/python-chess/src/
packaging/python-chess/pkg/
packaging/python-chess/*.tar.gz
