RESTIC_REPOSITORY=s3:https://lon1.digitaloceanspaces.com/REPLACE_BUCKET/arcade
RESTIC_PASSWORD_FILE=/etc/arcade-scores/restic-password
AWS_ACCESS_KEY_ID=REPLACE_WITH_BUCKET_SCOPED_KEY
AWS_SECRET_ACCESS_KEY=REPLACE_WITH_BUCKET_SCOPED_SECRET
